footer {
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

  a {
    text-decoration: underline;
    cursor: pointer;
  }
}

#social-links {
  display: flex;
  gap: 4em;
  img {
    width: 70px;
    aspect-ratio: 1 / 1;
  }

  img:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 3px var(--accent));
  }
}
